/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
-------------------------------------------------- */
.green-background {
    background-color: #28a745;
}

a {
    color: #2889a7;
}

.copyright-text {
    color: #59a728;
}

/* Work Sans 
-------------------------------------------------- */

@font-face {
    font-family: 'Work Sans';
    src: url(fonts/WorkSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url(fonts/WorkSans-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: 'Work Sans', sans-serif;
}

/* Animation stuff
-------------------------------------------------- */

@keyframes darken-background {
    from {
        background-color: #28a745;
    }
    to {
        background-color: #1b7037;
    }
}

.nav-link:hover {
    animation-name: darken-background;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes get-slightly-bigger {
    from {
        transform: scale(1.0)
    }
    to {
        transform: scale(1.05)
    }
}

@keyframes reset-to-initial-size-after-hover {
    from {
        transform: scale(1.05)
    }   
    to {
        transform: scale(1.0)
    }
}

.card {
    animation-name: reset-to-initial-size-after-hover;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.card:hover {
    animation-name: get-slightly-bigger;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes reset-to-initial-position {
    from {
        transform: translateX(5%)
    }
    to {
        transform: translateX(0%)
    }
}

.table {
    animation-name: reset-to-initial-position;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}