@model MusicRatingWebApp.Models.Other.RegisterAccountModel

@{
    ViewData["Title"] = "Register an account";
}

<h1>Register an account</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username:</label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password:</label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm password:</label>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary mr-4" />
                <a asp-action="Login" class="ml-4">I have an account already</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
