
@{
    ViewData["Title"] = "Artist not found";
}

<h1>404 Not Found</h1>

<div class="my-4">
    You tried to access an artist that doesn't exist.
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary rounded p-2">Back to artist list</a>
</div>